.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    color: white;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: -50px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: #333 0 0px 10px;
    justify-content: center;
    flex-direction: row;
    color: white;
    padding: 1.5rem 0;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: max-content;
    margin-bottom: 10px;
}
/* .cont {
        background: #00000075;
} */
header h1 {
    color: #ffffff;
    font-size: 2rem;
    margin: 0;
}
header p {
    font-size: 1rem;
}
section {
    padding: 2rem;
    max-width: 800px;
    margin: 3rem auto;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1, h2 {
    color: #333;
}
main {
    flex: 1;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}
img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}